<article class="tag-item item-with-bg" data-tag-id=<%=tag._id%> data-tag-name=<%=tag.name%>>
  <input type="checkbox" id="<%= tag._id %>" name="tagname" class="tag-name" value="<%=tag.name%>">
  <label for="<%=tag._id%>"> <%= tag.name %> 
  </label>&nbsp;
  <i class="fas fa-pen-square btn-edit hover_button"></i>&nbsp;&nbsp;
</article>