<article class="tag-item item-with-bg flex" data-tag-id=<%=tag._id%>>
  <input type="checkbox" id="<%= tag._id %>" name="<%= tag.name %>" value="<%=tag._id%>">
  <label for="<%=tag._id%>"> <%= tag.name %> 
  </label>&nbsp;
  <i class="fas fa-pen-square btn-edit hover_button"></i>&nbsp;&nbsp;
  <i class="fas fa-trash btn-delete hover_button"></i>
</article>